@{
    ViewBag.Title = "Tutorials - The Endangered Droid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tutorials</h1>
<p style="text-align: center;">Looks a bit empty right? Come September I am sure it will fill up pretty fast, until then I suggest <a href="http://lmgtfy.com/?q=Enter+your+problem+in+here">this</a>.</p>
                    
