@{
    Layout = null;
}
<html>
<head>
	<meta name="author" content="Enda Mc Cormack">
	<title></title>
    <script type="text/javascript" src="/Scripts/js/googTrack.js"></script>
	<script src="/Scripts/js/jquery-1.7.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/Content/css/columns.css">
	<link rel="stylesheet" type="text/css" href="/Content/css/wide.css">
	<link rel="stylesheet" type="text/css" href="/Content/css/index.css">

	<!--[if lte IE 7]>
	  <link rel="stylesheet" type="text/css" media="screen, projection" href="css/crappyIE.css" />
	<![endif]-->

	<!--[if gt IE 7]>
		<script type="text/javascript" src="js/columnPageLoad.js"></script>
		<script type="text/javascript" src="js/pageLoad.js"></script>
	<![endif]-->

	<!--[if !IE]><!-->
		<script type="text/javascript" src="/Scripts/columnPageLoad.js"></script>
		<script type="text/javascript" src="/Scripts/pageLoad.js"></script>
 	<!--<![endif]-->
	
	<script type="text/javascript" src="/Scripts/blogLoad.js"></script>

</head>
<body id="tutorials">
	<div id="backgroundWrapper">
		<div id="wrapper">
			<div id="header">
				<img src="/Content/Images/CoderDojo/header.gif">
				<span id="socialIcons">
					<a target="_blank" href="http://www.facebook.com/pages/CoderDojoSligo/187093091411122?fref=ts"><img src="/Content/Images/CoderDojo/facebook.png"></a>
					<a target="_blank" href="https://twitter.com/CoderDojoSligo"><img src="/Content/Images/CoderDojo/twitter.png"></a>
					<!--<a><img src="images/googleGroups.png"></a>-->
				</span>
				<div id="navBar">
					<!--<span id="siteName">Coder Dojo Sligo</span> -->
					<span id="navLinks">
						<a href="DojoIndex" id="indexLink">Home</a>
						<a href="DojoBlog" id="blogLink">Blog - Portfolio</a>
						<a href="DojoTutorials" id="tutorialsLink">Tutorials</a>
						<a href="DojoSensai" id="sensaiLink">Meet our Sensai's</a>
						<a href="DojoNinja" id="ninjaLink">Meet some Ninja's</a>
						<a href="DojoContact" id="contactLink">Contact</a> 
						<a href="DojoSponsor" id="sponsorLink">Sponsors</a>
					</span>
				</div>
			</div>
				
			<!--<div class="article"> 
				<div class="ribbon-wrapper"> 
					<div class="ribbon-front"> 
						<div class="ribbonRight"></div> 
						<div class="ribbonCenter"><center><img class="dojoIcon" src="images/coderDojoSmall.gif"></center></div> 
						<div class="ribbonLeft"><p></p></div> 
					</div> 
					<div class="ribbon-edge-topleft"></div> 
					<div class="ribbon-edge-topright"></div>
					<div class="ribbon-edge-bottomleft"></div>
					<div class="ribbon-edge-bottomright"></div>
					<div class="ribbon-back-left"></div>
					<div class="ribbon-back-right"></div>
					<div class="ribbon-edge-topright2"></div>
					<div class="ribbon-back-right2"></div>
				</div>	
				<div class="postContent"></div><p></p> 
			</div> -->
		</div>
			<script src="https://www.googleapis.com/blogger/v3/blogs/2085238315274301796/posts?key=AIzaSyARE1VZduZwPEqZxFz7xVlkU1r_AeY3eDU&callback=handleResponse2">
	    </script>
    </div>
</body>
</html>