<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>True</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish>www.enda-mccormack.com</SiteUrlToLaunchAfterPublish>
    <publishUrl>ftp://ftp.enda-mccormack.com</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>enda3496</UserName>
    <SavePWD>True</SavePWD>
    <FtpSitePath />
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_Code/PortfolioPostHelper.cshtml">
      <publishTime>09/25/2012 12:30:45</publishTime>
    </File>
    <File Include="App_Code/PostHelper.cshtml">
      <publishTime>09/26/2012 01:40:19</publishTime>
    </File>
    <File Include="App_Code/TutorialPostHelper.cshtml">
      <publishTime>09/26/2012 01:38:56</publishTime>
    </File>
    <File Include="App_Code/Web.sitemap">
      <publishTime>09/24/2012 22:37:05</publishTime>
    </File>
    <File Include="bin/EndaMcCormack.dll">
      <publishTime>09/26/2012 01:46:07</publishTime>
    </File>
    <File Include="bin/EndaMcCormack.pdb">
      <publishTime>09/26/2012 01:46:07</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>09/24/2012 17:27:53</publishTime>
    </File>
    <File Include="bin/NuGet.Core.dll">
      <publishTime>09/24/2012 17:28:11</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>09/24/2012 17:28:09</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>09/24/2012 17:28:14</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>09/24/2012 17:28:15</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>09/24/2012 17:28:08</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Administration.dll">
      <publishTime>09/24/2012 17:28:13</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>09/24/2012 17:28:09</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>09/24/2012 17:28:09</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>09/24/2012 17:28:09</publishTime>
    </File>
    <File Include="Content/css/blogs.css">
      <publishTime>09/24/2012 17:33:25</publishTime>
    </File>
    <File Include="Content/css/contact.css">
      <publishTime>09/24/2012 17:33:25</publishTime>
    </File>
    <File Include="Content/css/home.css">
      <publishTime>09/24/2012 17:33:25</publishTime>
    </File>
    <File Include="Content/css/main.css">
      <publishTime>09/26/2012 01:54:14</publishTime>
    </File>
    <File Include="Content/css/portfolio.css">
      <publishTime>09/25/2012 00:56:15</publishTime>
    </File>
    <File Include="Content/css/posts.css">
      <publishTime>09/26/2012 01:23:07</publishTime>
    </File>
    <File Include="Content/css/Style.css">
      <publishTime>09/24/2012 17:33:25</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/blog.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/bullet-robo-head.gif">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/bullet.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/contactImages/contactCompleteImage.gif">
      <publishTime>09/24/2012 17:37:10</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/contactImages/contactCompleteImage.png">
      <publishTime>09/24/2012 17:37:10</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/contactImages/facebookRound.png">
      <publishTime>09/24/2012 17:37:10</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/contactImages/gPlusRound.png">
      <publishTime>09/24/2012 17:37:10</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/contactImages/linkedInRound.png">
      <publishTime>09/24/2012 17:37:10</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/contactImages/twitterRound.png">
      <publishTime>09/24/2012 17:37:10</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/delicius.gif">
      <publishTime>09/26/2012 00:28:06</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/facebook-icon.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/favicon.ico">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/hammer.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/linkedin.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/mainBgPlate.gif">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/mainBgPlate.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/mainSiteLogo.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/me.jpg">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/me.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/metal.jpg">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/nav-enda-mccormack/blog.png">
      <publishTime>09/24/2012 17:37:23</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/nav-enda-mccormack/contact.png">
      <publishTime>09/24/2012 17:37:23</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/nav-enda-mccormack/home.png">
      <publishTime>09/24/2012 17:37:23</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/nav-enda-mccormack/portfolio.png">
      <publishTime>09/24/2012 17:37:23</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/nav-enda-mccormack/tutorials.png">
      <publishTime>09/24/2012 17:37:23</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/PortfolioImages/design.jpg">
      <publishTime>09/24/2012 17:37:33</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/PortfolioImages/others.jpg">
      <publishTime>09/24/2012 17:37:33</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/PortfolioImages/software.jpg">
      <publishTime>09/24/2012 17:37:33</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/PortfolioImages/web.jpg">
      <publishTime>09/24/2012 17:37:33</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/postMetal.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/rgbBar.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/robo-arm.gif">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/RoboHead.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/Untitled-5.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/work.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/endamccormack/workAndCollege.png">
      <publishTime>09/24/2012 17:34:35</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/1.png">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/2.png">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/3.png">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/articleImages/ART.jpg">
      <publishTime>09/24/2012 17:38:43</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/articleImages/assessments.jpg">
      <publishTime>09/24/2012 17:38:43</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/articleImages/attendance.jpg">
      <publishTime>09/24/2012 17:38:43</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/articleImages/christmas exams.jpg">
      <publishTime>09/24/2012 17:38:43</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/articleImages/engineering.jpg">
      <publishTime>09/24/2012 17:38:43</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/articleImages/exams no talk.jpg">
      <publishTime>09/24/2012 17:38:43</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/articleImages/fees forever-alone.jpg">
      <publishTime>09/24/2012 17:38:43</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/articleImages/learning outcomes meme.jpg">
      <publishTime>09/24/2012 17:38:43</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/articleImages/librarians.jpg">
      <publishTime>09/24/2012 17:38:43</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/bg.gif">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/bg1.gif">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/contentPixil.png">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/fbg.gif">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/flameWar.mp4">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/left.png">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/leftClear.png">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/logo.png">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/Rick Astley - Never Gonna Give You Up.mp3">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/right.png">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/rightClear.png">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/javascriptSem22012/website logo.png">
      <publishTime>09/24/2012 17:38:02</publishTime>
    </File>
    <File Include="Content/Images/others/chrome.png">
      <publishTime>09/24/2012 17:39:19</publishTime>
    </File>
    <File Include="Content/Images/others/endanger.png">
      <publishTime>09/24/2012 17:39:19</publishTime>
    </File>
    <File Include="Content/Images/others/firefox.png">
      <publishTime>09/24/2012 17:39:19</publishTime>
    </File>
    <File Include="Content/Images/others/IMG_20120606_103841 (1).jpg">
      <publishTime>09/24/2012 17:39:19</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>09/24/2012 17:27:43</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>09/24/2012 17:28:23</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>09/24/2012 17:28:22</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>09/24/2012 17:28:20</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>09/24/2012 17:27:43</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>09/24/2012 17:28:25</publishTime>
    </File>
    <File Include="Scripts/js/googTrack.js">
      <publishTime>09/24/2012 17:29:29</publishTime>
    </File>
    <File Include="Scripts/js/jquery-1.5.min.js">
      <publishTime>09/24/2012 17:29:29</publishTime>
    </File>
    <File Include="Scripts/js/jquery-1.7.2.min.js">
      <publishTime>09/24/2012 17:29:29</publishTime>
    </File>
    <File Include="Scripts/js/jquery-easing-compatibility.js">
      <publishTime>09/24/2012 17:29:29</publishTime>
    </File>
    <File Include="Scripts/js/jquery-easing.js">
      <publishTime>09/24/2012 17:29:29</publishTime>
    </File>
    <File Include="Scripts/js/jquery-ui-1.8.19.custom.min.js">
      <publishTime>09/24/2012 17:29:29</publishTime>
    </File>
    <File Include="Scripts/js/jquery-ui-1.8.22.custom.min.js">
      <publishTime>09/24/2012 17:29:29</publishTime>
    </File>
    <File Include="Scripts/js/login.js">
      <publishTime>09/24/2012 17:29:29</publishTime>
    </File>
    <File Include="Scripts/js/nav.js">
      <publishTime>09/26/2012 01:43:51</publishTime>
    </File>
    <File Include="Scripts/js/portfolioScript.js">
      <publishTime>09/24/2012 17:29:30</publishTime>
    </File>
    <File Include="Scripts/js/preload.js">
      <publishTime>09/24/2012 17:29:30</publishTime>
    </File>
    <File Include="Scripts/js/SHA256.js">
      <publishTime>09/24/2012 17:29:30</publishTime>
    </File>
    <File Include="Scripts/js/validateContact.js">
      <publishTime>09/24/2012 17:29:30</publishTime>
    </File>
    <File Include="Scripts/js/validateForm.js">
      <publishTime>09/24/2012 17:29:30</publishTime>
    </File>
    <File Include="Views/Accounts/Login.cshtml">
      <publishTime>09/24/2012 17:43:02</publishTime>
    </File>
    <File Include="Views/Blog/Details.cshtml">
      <publishTime>09/24/2012 17:43:12</publishTime>
    </File>
    <File Include="Views/Blog/dIndex.cshtml">
      <publishTime>09/24/2012 17:43:12</publishTime>
    </File>
    <File Include="Views/Blog/Edit.cshtml">
      <publishTime>09/24/2012 17:43:12</publishTime>
    </File>
    <File Include="Views/Blog/Index.cshtml">
      <publishTime>09/24/2012 17:43:12</publishTime>
    </File>
    <File Include="Views/Blog/Tags.cshtml">
      <publishTime>09/24/2012 17:43:12</publishTime>
    </File>
    <File Include="Views/Contact/Index.cshtml">
      <publishTime>09/24/2012 17:43:25</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>09/24/2012 21:36:49</publishTime>
    </File>
    <File Include="Views/MyBlog/Details.cshtml">
      <publishTime>09/24/2012 21:50:01</publishTime>
    </File>
    <File Include="Views/MyBlog/dIndex.cshtml">
      <publishTime>09/24/2012 17:43:12</publishTime>
    </File>
    <File Include="Views/MyBlog/Edit.cshtml">
      <publishTime>09/24/2012 21:44:58</publishTime>
    </File>
    <File Include="Views/MyBlog/Index.cshtml">
      <publishTime>09/24/2012 21:45:13</publishTime>
    </File>
    <File Include="Views/MyBlog/Tags.cshtml">
      <publishTime>09/24/2012 21:50:15</publishTime>
    </File>
    <File Include="Views/Portfolio/Category.cshtml">
      <publishTime>09/25/2012 21:36:06</publishTime>
    </File>
    <File Include="Views/Portfolio/Details.cshtml">
      <publishTime>09/25/2012 23:10:24</publishTime>
    </File>
    <File Include="Views/Portfolio/Edit.cshtml">
      <publishTime>09/25/2012 01:13:40</publishTime>
    </File>
    <File Include="Views/Portfolio/Index.cshtml">
      <publishTime>09/25/2012 00:59:26</publishTime>
    </File>
    <File Include="Views/Portfolio/Tags.cshtml">
      <publishTime>09/25/2012 00:41:01</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>09/24/2012 17:27:43</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>09/25/2012 00:14:41</publishTime>
    </File>
    <File Include="Views/Tutorials/Details.cshtml">
      <publishTime>09/24/2012 21:55:22</publishTime>
    </File>
    <File Include="Views/Tutorials/dIndex.cshtml">
      <publishTime>09/24/2012 17:44:06</publishTime>
    </File>
    <File Include="Views/Tutorials/Edit.cshtml">
      <publishTime>09/25/2012 01:11:45</publishTime>
    </File>
    <File Include="Views/Tutorials/Index.cshtml">
      <publishTime>09/25/2012 21:11:32</publishTime>
    </File>
    <File Include="Views/Tutorials/Tags.cshtml">
      <publishTime>09/24/2012 22:05:05</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>09/24/2012 17:27:43</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>09/24/2012 17:27:43</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>09/24/2012 23:03:45</publishTime>
    </File>
    <File Include="web.sitemap">
      <publishTime>09/24/2012 22:40:44</publishTime>
    </File>
  </ItemGroup>
</Project>